// COLORS
$primary: #3777FF;
$secondary: #28AFB0;
$light: #F5F1E3;
$dark: #050505;
$white: #fff;
$auth-text-color: #374957;
$input-background: #F6F6F6;
$label-color: #767474;

//SHADOWS
$gray-shadow: drop-shadow(3px -1px 4px rgba(0, 0, 0, 0.25));

//MEDIA QUERIES
$big-medium-width: 1366px;
$medium-width: 1025px;
$small-width: 576px;
