@import "../../../theme/theme-variable.scss";

.snackbar-container {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0 0 1rem 1rem;
    padding: 1rem;
    filter: $light-shadow;
    color: $white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    max-width: 30rem;
    @media (max-width: $big-medium-width) {
        font-size: 0.8rem;
        padding: 0.8rem;
        max-width: 25rem;
    }
    @media (max-width: $medium-width) {
        font-size: 0.7rem;
        padding: 0.7rem;
        margin: 0 0 0.8rem 0.8rem;
        max-width: 15rem;
    }
    @media (max-width: $small-width) {
        font-size: 0.6rem;
        padding: 0.6rem;
        margin: 0 0 0.6rem 0.6rem;
        max-width: 10rem;
    }
    &.success {
        background-color: $secondary;
    }
    &.error {
        background-color: $danger-text;
    }
}