
// Theme variables, must be included before the libraries to allow overriding defaults
@import "./app/theme/theme-variable.scss";

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,300;1,400;1,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: $dark;

    p {
        margin-bottom: 0;
    }
}